# Common Ports
SERVICE_PORT=8080
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672

# Users Database
USERS_DB_USER=user_user
USERS_DB_PASSWORD=secret_password
USERS_DB_NAME=users_db

# Meetups Database
MEETUPS_DB_USER=meetup_user
MEETUPS_DB_PASSWORD=secret_password
MEETUPS_DB_NAME=meetups_db

# Notification Database
NOTIF_DB_USER=notif_user
NOTIF_DB_PASSWORD=secret_password
NOTIF_DB_NAME=notification_db

